BlackJackClient/BlackJackClient/Service References/BlackjackService/BlackjackService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="BlackjackService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="BlackjackService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="BlackjackService/Imports">
      <xsd:import namespace="BlackjackService" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/BlackjackService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBlackjackGame_Hit_InputMessage">
    <wsdl:part name="parameters" element="tns:Hit" />
  </wsdl:message>
  <wsdl:message name="IBlackjackGame_Stay_InputMessage">
    <wsdl:part name="parameters" element="tns:Stay" />
  </wsdl:message>
  <wsdl:message name="IBlackjackGame_IncreasePot_InputMessage">
    <wsdl:part name="parameters" element="tns:IncreasePot" />
  </wsdl:message>
  <wsdl:message name="IBlackjackGame_GetWinner_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWinner" />
  </wsdl:message>
  <wsdl:message name="IBlackjackGame_GetWinner_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWinnerResponse" />
  </wsdl:message>
  <wsdl:message name="IBlackjackGame_LeaveGame_InputMessage">
    <wsdl:part name="parameters" element="tns:LeaveGame" />
  </wsdl:message>
  <wsdl:message name="IBlackjackGame_ReadyPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadyPlayer" />
  </wsdl:message>
  <wsdl:message name="IBlackjackGame_SubscribeGame_InputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeGame" />
  </wsdl:message>
  <wsdl:message name="IBlackjackGame_UnsubscribeGame_InputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeGame" />
  </wsdl:message>
  <wsdl:message name="IBlackjackGame_UpdateGame_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateGame" />
  </wsdl:message>
  <wsdl:message name="IChat_SubscribeChat_InputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeChat" />
  </wsdl:message>
  <wsdl:message name="IChat_SubscribeChat_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeChatResponse" />
  </wsdl:message>
  <wsdl:message name="IChat_UnsubscribeChat_InputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeChat" />
  </wsdl:message>
  <wsdl:message name="IChat_UnsubscribeChat_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeChatResponse" />
  </wsdl:message>
  <wsdl:message name="IChat_AddMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMessage" />
  </wsdl:message>
  <wsdl:message name="IChat_onMessageAdded_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:onMessageAdded" />
  </wsdl:message>
  <wsdl:message name="IChat_onMessageAdded_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:onMessageAddedResponse" />
  </wsdl:message>
  <wsdl:message name="IPortal_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IPortal_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IPortal_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IPortal_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IPortal_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IPortal_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IPortal_JoinGame_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinGame" />
  </wsdl:message>
  <wsdl:message name="IPortal_JoinGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinGameResponse" />
  </wsdl:message>
  <wsdl:message name="IPortal_CreateGame_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGame" />
  </wsdl:message>
  <wsdl:message name="IPortal_CreateGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGameResponse" />
  </wsdl:message>
  <wsdl:message name="IPortal_GetGameList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGameList" />
  </wsdl:message>
  <wsdl:message name="IPortal_SubscribePortal_InputMessage">
    <wsdl:part name="parameters" element="tns:SubscribePortal" />
  </wsdl:message>
  <wsdl:message name="IPortal_SubscribePortal_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribePortalResponse" />
  </wsdl:message>
  <wsdl:message name="IPortal_UnSubscribePortal_InputMessage">
    <wsdl:part name="parameters" element="tns:UnSubscribePortal" />
  </wsdl:message>
  <wsdl:message name="IPortal_UnSubscribePortal_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnSubscribePortalResponse" />
  </wsdl:message>
  <wsdl:message name="IPortal_UpdateGameList_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateGameList" />
  </wsdl:message>
  <wsdl:message name="IPortal_UpdateGameList_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateGameListResponse" />
  </wsdl:message>
  <wsdl:portType name="IBlackjackGame">
    <wsdl:operation name="Hit">
      <wsdl:input wsaw:Action="BlackjackService/IBlackjackGame/Hit" message="tns:IBlackjackGame_Hit_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Stay">
      <wsdl:input wsaw:Action="BlackjackService/IBlackjackGame/Stay" message="tns:IBlackjackGame_Stay_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IncreasePot">
      <wsdl:input wsaw:Action="BlackjackService/IBlackjackGame/IncreasePot" message="tns:IBlackjackGame_IncreasePot_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWinner">
      <wsdl:input wsaw:Action="BlackjackService/IBlackjackGame/GetWinner" message="tns:IBlackjackGame_GetWinner_InputMessage" />
      <wsdl:output wsaw:Action="BlackjackService/IBlackjackGame/GetWinnerResponse" message="tns:IBlackjackGame_GetWinner_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeaveGame">
      <wsdl:input wsaw:Action="BlackjackService/IBlackjackGame/LeaveGame" message="tns:IBlackjackGame_LeaveGame_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadyPlayer">
      <wsdl:input wsaw:Action="BlackjackService/IBlackjackGame/ReadyPlayer" message="tns:IBlackjackGame_ReadyPlayer_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubscribeGame">
      <wsdl:input wsaw:Action="BlackjackService/IBlackjackGame/SubscribeGame" message="tns:IBlackjackGame_SubscribeGame_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnsubscribeGame">
      <wsdl:input wsaw:Action="BlackjackService/IBlackjackGame/UnsubscribeGame" message="tns:IBlackjackGame_UnsubscribeGame_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGame">
      <wsdl:output wsaw:Action="BlackjackService/IBlackjackGame/UpdateGame" message="tns:IBlackjackGame_UpdateGame_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IChat">
    <wsdl:operation name="SubscribeChat">
      <wsdl:input wsaw:Action="BlackjackService/IChat/SubscribeChat" message="tns:IChat_SubscribeChat_InputMessage" />
      <wsdl:output wsaw:Action="BlackjackService/IChat/SubscribeChatResponse" message="tns:IChat_SubscribeChat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnsubscribeChat">
      <wsdl:input wsaw:Action="BlackjackService/IChat/UnsubscribeChat" message="tns:IChat_UnsubscribeChat_InputMessage" />
      <wsdl:output wsaw:Action="BlackjackService/IChat/UnsubscribeChatResponse" message="tns:IChat_UnsubscribeChat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMessage">
      <wsdl:input wsaw:Action="BlackjackService/IChat/AddMessage" message="tns:IChat_AddMessage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="onMessageAdded">
      <wsdl:output wsaw:Action="BlackjackService/IChat/onMessageAdded" message="tns:IChat_onMessageAdded_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="BlackjackService/IChat/onMessageAddedResponse" message="tns:IChat_onMessageAdded_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IPortal">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="BlackjackService/IPortal/Login" message="tns:IPortal_Login_InputMessage" />
      <wsdl:output wsaw:Action="BlackjackService/IPortal/LoginResponse" message="tns:IPortal_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="BlackjackService/IPortal/Register" message="tns:IPortal_Register_InputMessage" />
      <wsdl:output wsaw:Action="BlackjackService/IPortal/RegisterResponse" message="tns:IPortal_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="BlackjackService/IPortal/Logout" message="tns:IPortal_Logout_InputMessage" />
      <wsdl:output wsaw:Action="BlackjackService/IPortal/LogoutResponse" message="tns:IPortal_Logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinGame">
      <wsdl:input wsaw:Action="BlackjackService/IPortal/JoinGame" message="tns:IPortal_JoinGame_InputMessage" />
      <wsdl:output wsaw:Action="BlackjackService/IPortal/JoinGameResponse" message="tns:IPortal_JoinGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateGame">
      <wsdl:input wsaw:Action="BlackjackService/IPortal/CreateGame" message="tns:IPortal_CreateGame_InputMessage" />
      <wsdl:output wsaw:Action="BlackjackService/IPortal/CreateGameResponse" message="tns:IPortal_CreateGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGameList">
      <wsdl:input wsaw:Action="BlackjackService/IPortal/GetGameList" message="tns:IPortal_GetGameList_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubscribePortal">
      <wsdl:input wsaw:Action="BlackjackService/IPortal/SubscribePortal" message="tns:IPortal_SubscribePortal_InputMessage" />
      <wsdl:output wsaw:Action="BlackjackService/IPortal/SubscribePortalResponse" message="tns:IPortal_SubscribePortal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnSubscribePortal">
      <wsdl:input wsaw:Action="BlackjackService/IPortal/UnSubscribePortal" message="tns:IPortal_UnSubscribePortal_InputMessage" />
      <wsdl:output wsaw:Action="BlackjackService/IPortal/UnSubscribePortalResponse" message="tns:IPortal_UnSubscribePortal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGameList">
      <wsdl:output wsaw:Action="BlackjackService/IPortal/UpdateGameList" message="tns:IPortal_UpdateGameList_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="BlackjackService/IPortal/UpdateGameListResponse" message="tns:IPortal_UpdateGameList_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>