BlackJackClient/BlackJackClient/Service References/BlackjackService/BlackjackService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BlackjackService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BlackjackService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Game">
    <xs:sequence>
      <xs:element minOccurs="0" name="GameDeck" nillable="true" type="tns:Deck" />
      <xs:element minOccurs="0" name="GameId" type="xs:int" />
      <xs:element minOccurs="0" name="Player1" nillable="true" type="tns:Player" />
      <xs:element minOccurs="0" name="Player2" nillable="true" type="tns:Player" />
      <xs:element minOccurs="0" name="Pot" type="xs:int" />
      <xs:element minOccurs="0" name="inRound" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Game" nillable="true" type="tns:Game" />
  <xs:complexType name="Deck">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardList" nillable="true" type="tns:ArrayOfCard" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Deck" nillable="true" type="tns:Deck" />
  <xs:complexType name="ArrayOfCard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Card" nillable="true" type="tns:Card" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCard" nillable="true" type="tns:ArrayOfCard" />
  <xs:complexType name="Card">
    <xs:sequence>
      <xs:element minOccurs="0" name="PicLoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Card" nillable="true" type="tns:Card" />
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="HandVal" type="xs:int" />
      <xs:element minOccurs="0" name="Money" type="xs:int" />
      <xs:element minOccurs="0" name="PlayHand" nillable="true" type="tns:ArrayOfCard" />
      <xs:element minOccurs="0" name="Ready" type="xs:boolean" />
      <xs:element minOccurs="0" name="RoundDone" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfGame">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Game" nillable="true" type="tns:Game" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGame" nillable="true" type="tns:ArrayOfGame" />
</xs:schema>