BlackJackClient/BlackJackClient/Service References/BlackjackService/BlackjackService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="BlackjackService" elementFormDefault="qualified" targetNamespace="BlackjackService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BlackjackService" />
  <xs:element name="Hit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BlackjackService" minOccurs="0" name="game" nillable="true" type="q1:Game" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BlackjackService" minOccurs="0" name="player" nillable="true" type="q2:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Stay">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BlackjackService" minOccurs="0" name="game" nillable="true" type="q3:Game" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BlackjackService" minOccurs="0" name="player" nillable="true" type="q4:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncreasePot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BlackjackService" minOccurs="0" name="game" nillable="true" type="q5:Game" />
        <xs:element minOccurs="0" name="mon" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtherPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BlackjackService" minOccurs="0" name="game" nillable="true" type="q6:Game" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BlackjackService" minOccurs="0" name="current" nillable="true" type="q7:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtherPlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BlackjackService" minOccurs="0" name="GetOtherPlayerResult" nillable="true" type="q8:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BlackjackService" minOccurs="0" name="game" nillable="true" type="q9:Game" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BlackjackService" minOccurs="0" name="player" nillable="true" type="q10:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetermineWinner">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BlackjackService" minOccurs="0" name="game" nillable="true" type="q11:Game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeaveGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BlackjackService" minOccurs="0" name="game" nillable="true" type="q12:Game" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BlackjackService" minOccurs="0" name="leave" nillable="true" type="q13:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadyPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BlackjackService" minOccurs="0" name="game" nillable="true" type="q14:Game" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/BlackjackService" minOccurs="0" name="player" nillable="true" type="q15:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeGame">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribeGame">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/BlackjackService" minOccurs="0" name="game" nillable="true" type="q16:Game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeChat">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeChatResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribeChat">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribeChatResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="onMessageAdded">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dt" type="xs:dateTime" />
        <xs:element minOccurs="0" name="playerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="onMessageAddedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/BlackjackService" minOccurs="0" name="LoginResult" nillable="true" type="q17:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/BlackjackService" minOccurs="0" name="RegisterResult" nillable="true" type="q18:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/BlackjackService" minOccurs="0" name="user" nillable="true" type="q19:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/BlackjackService" minOccurs="0" name="game" nillable="true" type="q20:Game" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/BlackjackService" minOccurs="0" name="user" nillable="true" type="q21:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/BlackjackService" minOccurs="0" name="user" nillable="true" type="q22:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribePortal">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribePortalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnSubscribePortal">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnSubscribePortalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGameList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/BlackjackService" minOccurs="0" name="gameList" nillable="true" type="q23:ArrayOfGame" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGameListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>