BlackJackClient/BlackJackClient/Service References/ServiceReference1/LoginContract.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="LoginContract" elementFormDefault="qualified" targetNamespace="LoginContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LogIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogInResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>